<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this :: content})}">
 <th:block th:fragment="content">
  <h1 class="mt-4" >게시판
    <span>
    <a th:href="@{/board/register}">
        <button type="button" class="btn btn-outline-primary" onclick="location.href='/board/register'">REGISTER</button>
    </a>
   </span>
  </h1>

  <form action="movie/list" method="get" id="searchFrom">
   <input type="hidden" name="page" value="1">
  </form>

  <table class="table table-striped" >
   <thead>
   <tr>
    <th scope="col">#</th>
    <th scope="col">제목</th>
    <th scope="col">작성자</th>
    <th scope="col">카테고리</th>
    <th scope="col">등록일</th>
   </tr>
   </thead>
   <tbody>
    <tr th:each="list : ${result.dtoList}">
     <th scope="col" >
      <a th:href="@{/board/read(bno=${list.bno},page=${result.page},type=${requestDTO.type},keyword=${requestDTO.keyword},boardCategory=${requestDTO.boardCategory})}">[[${list.bno}]]</a>
     </th>
     <td th:text="|${list.title}     (${list.replyCnt})|">Title</td>
     <td th:text="${list.nickname}">Writer</td>
     <td th:text="${list.boardCategory}">BoardCategory</td>
     <td th:text="${#temporals.format(list.regDate,'yyyy/MM/dd')}">regDate</td>
    </tr>
   </tbody>
  </table>
  <form th:action="@{/board/list}" method="get" id="searchForm">
   <div class="input-group">
    <input type="hidden" name="page" value="1">
    <input type="hidden" name="boardCategory" th:value="${requestDTO.boardCategory}">
    <div class="input-group-prepend">
     <select class="custom-select" name="type">
      <option value="" th:selected="${requestDTO.type == null}">-------------</option>
      <option value="t" th:selected="${requestDTO.type == 't'}">제목</option>
      <option value="c" th:selected="${requestDTO.type == 'c'}">내용</option>
      <option value="w" th:selected="${requestDTO.type == 'w'}">작성자</option>
      <option value="tc" th:selected="${requestDTO.type == 'tc'}">제목+내용</option>
      <option value="tcw" th:selected="${requestDTO.type == 'tcw'}">제목+내용+제목</option>
     </select>
    </div>
    <input class="form-control" name="keyword" th:value="${requestDTO.keyword}">
    <div class="input-group-prepend" id="button-addon4">
     <button class="btn btn-outline-secondary btn-search" type="button">Search</button>
     <button class="btn btn-outline-secondary btn-clear" type="button">Clear</button>
    </div>
   </div>
  </form>

  <ul class="pagination h-100 justify-content-center align-items-center">

   <li class="page-item" th:if="${result.prev}">
    <a class="page-link" th:href="@{/board/list(page=${result.start-1},type=${requestDTO.type},keyword=${requestDTO.keyword},boardCategory=${requestDTO.boardCategory})}" tabindex="-1">Previous</a>
   </li>

   <li th:class="'page-item' + ${result.page == page? ' active' : ''}" th:each="page : ${result.pageList}" >
    <a class="page-link" th:href="@{/board/list(page=${page},type=${requestDTO.type},keyword=${requestDTO.keyword},boardCategory=${requestDTO.boardCategory})}">
     [[${page}]]
    </a>
   </li>

   <li class="page-item" th:if="${result.next}">
    <a class="page-link" th:href="@{/board/list(page=${result.end+1},type=${requestDTO.type},keyword=${requestDTO.keyword},boardCategory=${requestDTO.boardCategory})}">Next</a>
   </li>

  </ul>


  <script th:inline="javascript">
  $(window).on('load',function (){
   var msg = [[${msg}]];
   if (msg != null) {
    alert(msg);
   }
  })
  var searchForm = $("#searchForm");

  $('.btn-search').click(function(e){
   searchForm.submit();
  })

  $('.btn-clear').click(function (e) {
   searchForm.empty().submit();
  });

  </script>

 </th:block>
</th:block>